<%- include ("./partials/header") %>

<div class="container p-5 d-flex justify-content-center align-items-center" style="height: 25rem;">
    <h1 class="text-center display-2">Bienvenidos</h1>
</div>

<%- include ("./partials/footer") %>